<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/diseño_asidevertical.css" rel="stylesheet" />
    <link href="~/Styles/diseño_barranavegación.css" rel="stylesheet" />
    <link href="~/Styles/diseño_buttons.css" rel="stylesheet" />
    <link href="~/Styles/diseño_formularios.css" rel="stylesheet" />
    <link href="~/Styles/diseño_login.css" rel="stylesheet" />
</head>
<body class="body">
    <div>
        <nav class="nav_horizontal">
            <div class="div_horizontal">
                <ul class="nav_horizontal">
                    <li><img class="imagen" src="~/Imagenes/Estratei.png" alt=""></li>
                    <li><h3> Estratei Sistemas de la información S.A. de C.V.</h3></li>
                    <li style="float:right"> <button class="btn_busqueda" type="submit"onclick="location.href='@Url.Content("~/CerrarSesion/logoff/")'"> Cerrar Sesión</button></li>
                    <li style="float:right"><h3>@ViewData["nombre_user"]</h3></li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <aside class="aside_vertical">
            <div class="div_vertical">
                <ul class="ul a sidebar-menu">
                    <li class="treeview">
                        <a href="#"> Ticket </a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("Agregar Ticket", "Add_Ticket", "Tickets")</li>
                            <li>@Html.ActionLink("Buscar Tickets", "SearchTickets", "Tickets")</li>
                        </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#"> Agenda de Clientes </a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("Agregar Cliente", "AddCliente", "Clientes")</li>
                            <li>@Html.ActionLink("Buscar Cliente", "SelecSearchCliente", "Clientes")</li>
                            <li>@Html.ActionLink("Ver Clientes", "SeeClientes", "Clientes")</li>
                        </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#"> Base de Conocimiento </a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("Consultar Problemas", "SearchProblemas", "Problemas")</li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#"> Consultas y Reportes </a>
                        <ul class="treeview-menu">
                            <li><a href="#"> Generar Consultas </a></li>
                            <li><a href="#"> Genrar Estadisticas </a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </aside>
    </div>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")
    @RenderSection("scripts", required: false)
</body>
</html>
