@model Proyecto_Tickets.Models.VariablesGlobalesViewsModels.ElegidoTickets
@{
    ViewBag.Title = "SearchTickets";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
    List<SelectListItem> items_Cli = (List<SelectListItem>)ViewBag.items_Cli;
}

    <main>
        <div class="div_formulario">

            <!-- aqui esta el primer slector de busqueda-->
            @using (Html.BeginForm("SeeTicketsCliente", "Tickets", new { role = "form", Id = "frm", @Class = " form" }))
            {
                <div class="div_borde">
                    <table class="table">
                        <tr>
                            <td><label for="cliente"> Clientes   </label></td>
                            <td>
                                @if (ViewBag.items_Cli != null)
                                {
                                    @Html.DropDownListFor(d => d.ID_cliente, items_Cli, "Seleccione un cliente", new { @class = "form-control" })
                                }
                            </td>
                            <td><label for="usuario_cliente"> Usuarios del Cliente</label></td>
                            <td>
                                @Html.DropDownListFor(d => d.ID_usuarioCliente, new SelectList(" "), "Seleccione un usuario", new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><button class="button" type="submit"> Buscar</button></td>
                        </tr>
                    </table>
                </div>
            }
            @using (Html.BeginForm("SeeTicketsNumero", "Tickets", new { role = "form", Id = "frm", @Class = " form" }))
            {
                <div class="div_borde">
                    <table class="table">
                        <tr>
                            <td style="float:left"><label for="numero_seguimiento"> Numero del ticket </label> </td>
                            <td style="float:left">@Html.TextBoxFor(d => d.ID_Ticket, new {placeholder="Ingresa un Numero", style= "width:250px;" })
                            </td>
                        </tr>
                        <table class="table">
                            <tr>
                                <td colspan="4"><button class="button" type="submit"> Buscar </button></td>
                            </tr>
                        </table>
                    </table>
                </div>
            }
            @using (Html.BeginForm("SeeTicketsPendientes", "Tickets", new { role = "form", Id = "frm", @Class = " form" }))
            {
                <div class="div_borde">
                    <table class="table">
                        <tr>
                            <td><label for="mtpendientes"> Mostrar Tickets Pendientes</label></td>
                        <tr>
                            <td colspan="5"><button class="button" type="submit"> Mostrar</button></td>
                        </tr>
                    </table>
                </div>
            }
            </div>
    </main>


}

@section scripts
{
    <script>
    $(document).ready(function ()
    {
        $('.sidebar-menu').tree();
        $("#frm").submit(function (e)
        {
            e.preventDefault();

            url = "@Url.Content("~/Tickets/SeeTicketsCliente")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {

                if (data == "1") {
                    document.location.href = "@Url.Content("~/Tickets/SeeTicketsCliente")"
                } else
                {
                    alert(data)
                }

            })
        })
    })

    </script>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree();
        $("#ID_cliente").change(function () {
            $.get("/Tickets/GetCliente", { ID_Cliente: $(ID_cliente).val() }, function (data) {
                $("#ID_usuarioCliente").empty();
                $.each(data, function (i, item) {
                    $("#ID_usuarioCliente").append("<option value='" + item.ID_Usuario_Cliente + "'>" + item.Nombre_UCliente + "</option>")
                });
            });
        });
    });
</script>