@model  List<Proyecto_Tickets.Models.TableViewsModels.SeeUsuariosClienteTableViewModel>

@{
    ViewBag.Title = "SeeUsuario";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}
<main>
    <div class="div_formulario">
       
            <table class="table_busqueda">
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Usuario Clave</th>
                    <th>Celular</th>
                    <th>Telefono Oficina</th>
                    <th>Extención</th>
                    <th>Usuario Login</th>
                    <th>Acción</th>
                </tr>
                @foreach (var element in Model)
                {
                    <tr>
                        <td>@element.NombreC</td>
                        <td>@element.ApellidoP</td>
                        <td>@element.ApellidoM</td>
                        <td>@element.UseClave</td>
                        <td>@element.Celular</td>
                        <td>@element.TelOfi</td>
                        <td>@element.Extencion</td>
                        <td>@element.ULnombre</td>
                        <td style="width:250px;">
                            <button class="btn_Acción" type="submit" data-toggle="modal" data-target="#modalVerMas"><img src="~/Imagenes/view_more.png"></button>
                            <button class="btn_Acción" type="submit" onclick="location.href='@Url.Content("~/UsuariosClienteOptions/EditUsuario/" + element.iduserC)'"><img src="~/Imagenes/update_user.png"></button>
                            <button class="btn_Acción" id="frm" type="submit" onclick="location.href='@Url.Content("~/UsuariosClienteOptions/DeleteUsuario/" + element.iduserC)'"><img src="~/Imagenes/trash.png"></button>
                        </td>
                    </tr>
                }
            </table>

        </div>
</main>

<div id="modalVerMas" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background:#0066cc; color:white">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ver más</h4>

            </div>

            <div class="modal-body">

                <div class="box-body">
                    @foreach (var ele in Model) {
                    <div class="form-group">
                        <label style="font-weight: bold; margin-right:10px">Usuario Login: </label>
                        @ele.ULnombre
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold; margin-right:10px">Contraseña: </label>
                        @ele.ULcontraseña
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold; margin-right:10px">Estatus: </label>
                        @ele.ULestatus
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold; margin-right:10px">Ultimo Login: </label>
                        @ele.ULUltimoLogin
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold; margin-right:10px">Correo Electronico: </label>
                        @ele.ULCcorreo_electronico
                    </div>
                    }
                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Salir</button>

            </div>

        </div>
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function ()
    {
        $('.sidebar-menu').tree();

        $("#frm").submit(function (e)
        {
            e.preventDefault();

            url = "@Url.Content("~/UsuariosClienteOptions/DeleteUsuario")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {

                if (data =="1")
                {
                    if (confirm('Esta seguro de eliminar al usuario')) {
                        document.location.href = "@Url.Content("~/UsuariosClienteOptions/DeleteUsuario")"
                    } else {
                        document.location.href = "@Url.Content("~/Clientes/SeeClientes")"
                    }
                }
            })
        })
    })
    </script>
}