@model List<Proyecto_Tickets.Models.TableViewsModels.SeeProblema>

@{
    ViewBag.Title = "SearchProblemas";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}

<main>
    <div class="div_formulario">
        @foreach (var oproblemas in Model)
        {

            <table class="table">
                <tr>
                    <td colspan="2"> @Html.TextBox(@oproblemas.nombre_problema) </td>
                    <td><button class="btn_busqueda" type="submit" name="button"> <img src="~/Imagenes/search.png" alt=""></button></td>
                </tr>
            </table>

            <table class="table_busqueda">
                <tr>
                    <th> Nombre de problema</th>
                    <th> Descripción del problema</th>
                    <th> Descripción de solución</th>
                    <th> Nombre de la pantalla</th>
                </tr>
                <tr>
                    <td> @oproblemas.nombre_problema</td>
                    <td> @oproblemas.descripción_problema/td>
                    <td> @oproblemas.descrpcion_solucion/td>
                    <td> @oproblemas.idpantalla</td>
                </tr>
                
            </table>
        }
        </div>
</main>

