@model Proyecto_Tickets.Models.ViewsModels.DeleteUsuarioCliente

<main>
    <div class="div_formulario">
        <div class="form-group">
            <label style="font-weight: bold; color:red; text-align:center; font-size:30px; margin-right:10px">Esta seguro de eliminar este usuario </label>

        </div>

        @using (Html.BeginForm("DeleteUsuario", "UsuariosClienteOptions", FormMethod.Post, new { role = "form", Id = "frm", @Class = " form" }))
        {

            @Html.HiddenFor(d => d.UCid)
            @Html.HiddenFor(d => d.ULid)
            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Nombre Usuario: </label>
                @Html.DisplayFor(d => d.UCnombre)
            </div>

            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Apellido Paterno: </label>
                @Html.DisplayFor(d => d.UCapellidoP)
            </div>
            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Apellido Materno: </label>
                @Html.DisplayFor(d => d.UCapellidoM)
            </div>

            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Telefono Oficina: </label>
                @Html.DisplayFor(d => d.UctelOf)
            </div>
            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Extención: </label>
                @Html.DisplayFor(d => d.UCext)
            </div>
            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Celular: </label>
                @Html.DisplayFor(d => d.UCcelular)
            </div>
            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Usuario Login: </label>
                @Html.DisplayFor(d => d.ULnombre)
            </div>

            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Contraseña: </label>
                @Html.DisplayFor(d => d.ULcontraseña)
            </div>

            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Estatus: </label>
                @Html.DisplayFor(d => d.ULestatus)
            </div>

            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Ultimo Login: </label>
                @Html.DisplayFor(d => d.ULUltimoLogin)
            </div>

            <div class="form-group">
                <label style="font-weight: bold; margin-right:10px">Correo Electronico: </label>
                @Html.DisplayFor(d => d.ULCcorreo_electronico)
            </div>

            <div class="form-group">

                <table class="table">
                    <tr style="float:right; margin-left:700px;">
                    <button style="background-color: #008CBA; border-color: #008CBA; color: white; font-size: 14px; ">
                        <a style="width: 100%; height:100%; text-decoration:none; color: white;" href="javascript:window.history.back();">Volver atrás</a></button>
                    
                    <button class="btn-danger" type="submit"> Eliminar</button></tr>
                </table>

            </div>


        }
    </div>
</main>

@section scripts
{
    <script>

    $(document).ready(function ()
    {
        $("#frm").submit(function (e)
        {
            e.preventDefault();

            url = "@Url.Content("~/UsuariosClienteOptions/DeleteUsuario")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {

                if (data =="1")
                {
                    alert('El usuario se elimino correctamente')
                        document.location.href = "@Url.Content("~/Clientes/SeeClientes")"

                }
            })
        })
    })
    </script>
}

