@model Proyecto_Tickets.Models.ViewsModels.ClientesViewsModel
@{
    ViewBag.Title = "CrearCliente";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";

    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<main>

    <div style="height:575px;" class="div_formulario">

            @using (Html.BeginForm("CrearCliente", "Clientes", FormMethod.Post, new { role = "form" ,Id ="frm", @Class = " form" }))
            {



                <table class="table">
                    <tr>
                        <td> <label for="nombre_del_cliente"> Nombre del Cliente</label></td>
                        <td> @Html.TextBoxFor(d => d.Nombre_Cliente) </td>
                        <td> <label for="calle"> Calle</label></td>
                        <td> @Html.TextBoxFor(d => d.Calle)</td>
                    </tr>
                    <tr>
                        <td> <label for="correo_electronico">Correo Electronico </label></td>
                        <td> @Html.TextBoxFor(d => d.Correo_Electronico)</td>
                        <td> <label for="numero">Numero</label></td>
                        <td> @Html.TextBoxFor(d => d.Numero)</td>
                    </tr>
                    <tr>
                        <td> <label for="telefono">Telefono</label></td>
                        <td> @Html.TextBoxFor(d => d.Telefono)</td>
                        <td> <label for="colonia"> Colonia</label></td>
                        <td> @Html.TextBoxFor(d => d.Colonia)</td>
                    </tr>
                    <tr>
                        <td> <label for="entidad_federativa">Entidad Federativa</label></td>
                        <td>
                            @Html.DropDownListFor(d => d.ID_Entidad_Federativa, items, "Selecciona Entidad Federativa", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"> <button class="button" type="submit" value="Registrar"> Registrar</button></td>
                    </tr>
                </table>
            }
    </div>

</main>

@section scripts
{
    <script>
    $(document).ready(function ()
    {
        $("#frm").submit(function (e)
        {
            e.preventDefault();

            url = "@Url.Content("~/Clientes/CrearCliente")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {

                if (data =="1")
                {
                    if (confirm('Deseas agregar un usuario al cliente')) {
                        document.location.href = "@Url.Content("~/Clientes/BuscarCliente")"
                    } else {
                        document.location.href = "@Url.Content("~/Clientes/CrearCliente")"
                    }
                }
            })
        })
    })

    </script>
}

